@import '~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss';

.container {
  width: 100%;

  .card {

    position: relative;
    color: white;
    padding: 10px 50px;
    line-height:2.5;
    font-weight:normal;

    background-image: linear-gradient(to right, #b9121a , #f90131);

    .text {
      width: 100%;
      max-width: 1028px;
      color: white;
    }
    .close {
      width: 20px;
      height: 20px;
      color: white;
      cursor: pointer;
      position: absolute;
      top: 10px;
      right: 10px;

      border:none;
      background: transparent;
    }
  }
}