@import '~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss';

.footer {
  .main {
    height:200px;
    // text-align:center;
    // line-height:2.5;
    // font-weight:bold;
    display: flex;
    // align-items: center;
    justify-content: space-between;
    background-color: $ms-color-themePrimary;
    @include ms-fontColor-white;
  }

}
